@page "/admin"
@using Julequiz.Blazor.Data
@inject ExampleModel exampleModel
@inject HttpClient Http

<PageTitle>Julequizzen</PageTitle>

<h1>Julequizzen venter på svar...</h1>

<p>This component demonstrates fetching data from a service.</p>


@code {
    
}
